.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml

/.cache/
/.mypy_cache/
/build/
/dist/
/docs/_build

*.egg-info/
*.pyc
*.swp
*.egg

.venv/
.eggs/
.tox/
.pytest_cache/
.vscode/
.python-version
